<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Algum triângulo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Algum triângulo</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <ion-item>
      <ion-label position="floating">Lado A</ion-label>
      <ion-input [(ngModel)]="A"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position ="floating">Lado B</ion-label>
      <ion-input [(ngModel)]="B" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position ="floating">Lado C</ion-label>
      <ion-input [(ngModel)]="C" ></ion-input>
    </ion-item>
  
    <ion-button shape="round" (click)="calcular2()">Verificar</ion-button>
    <div>
      {{erro}}
    </div>
    

  </div>
</ion-content>
